In [4]:
def likho(line):
    print("likh rahe hai", line)
    print("Ab wapas ja rhe hai")
    
    # return None is by defalt here

In [7]:
val = likho("Bhaago")
print("Wapas aa gye")

likh rahe hai Bhaago
Ab wapas ja rhe hai
Wapas aa gye

In [8]:
print(val)

None

In [9]:
def pow(base, power):
    
    val =  base ** power
    return val

In [10]:
pow(2, 8)

256

In [11]:
def swap(x, y):
    x, y = y, x

In [12]:
a, b = 10, 11

swap(a, b)

In [20]:
happy = 10000
sad = happy

In [17]:
def sample(val):
    
    print(happy is val)

In [18]:
sample(happy)

True

In [23]:
happy is sad

False

In [32]:
def ex_global():
    print(happy)
    happy = 200
    print(happy)

In [33]:
print(happy)
ex_global()

10000

UnboundLocalError: local variable 'happy' referenced before assignment

In [35]:
def ex_global():
    global happy
    print(happy)
    happy = 200
    print(happy)

In [36]:
print(happy)
ex_global()
print(happy)

10000
10000
200
200

In [38]:
def naam(value, dusri_value):
    print("Thoda sa kaam")
    a = value
    b = dusri_value
    
    print("Thodi si process", a, b)
    
    return "Kuch aa gya wapas"

In [40]:
rec = naam(4567, 5456789)

Thoda sa kaam
Thodi si process 4567 5456789

In [41]:
rec

'Kuch aa gya wapas'

In [51]:
def fna():
    vala = 200
    fnb(vala)
    print(vala)

def fnb(vala):
    vala = 300
    print(vala)

In [52]:
fna()

300
200

In [64]:
def with_defaults(a, b=10, c=77):
    print(a, b)

In [54]:
with_defaults(100)

100 10

In [55]:
with_defaults(100, 200)

100 200

In [61]:
with_defaults(a=100, 200)

SyntaxError: positional argument follows keyword argument (<ipython-input-61-9e3042b06ac0>, line 1)

In [65]:
with_defaults(100, 200, c = 55)

100 200

In [72]:
def info(name, age, *kids, salary=10000):
    
    print(name, age, kids, salary)

In [76]:
info("Mohit", 23, "Ravi", "Pooja", "Mohini", salary=20000)

Mohit 23 ('Ravi', 'Pooja', 'Mohini') 20000

In [77]:
info

In [78]:
print

In [83]:
bolo = print

In [84]:
bolo("jai mata di")

jai mata di

In [85]:
bolo

In [86]:
sq = lambda x : x**2

In [88]:
chacha = lambda x : x**3

In [92]:
sq(5)

25

In [94]:
pow = lambda x, y : x ** y

In [95]:
pow(4, 7)

16384

In [101]:
m = map(lambda x: x+5 ,range(1, 51))

In [102]:
li = list(m)

In [104]:
line = input()

345 56 4567 5678

In [108]:
list(map(int, line.split()))

[345, 56, 4567, 5678]

In [107]:
int("5678")

5678

In [110]:
# info("m", 67, kids=("gg"))